@tailwind base;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
}

abbr[title] {
  text-decoration: none;
}

.filters {
  display: flex;
  gap: 0.25rem;
  justify-content: right;
  align-items: center;
  padding: 0.5rem;
  pointer-events: none;
  opacity: 0.5;

  input {
    margin-left: 0.7rem;
  }
}
